@charset "UTF-8";

* {margin-top:0px;padding:0px;}
body {
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #818181;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}

h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

.topheader {
	background-color: #333333;
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}

.container-fluid {
	padding: 60px 50px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.logo-small {
	color: #b30000;
	font-size: 50px;
}

.logo {
	color: #333333;
	font-size: 200px;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #333333;
}

.carousel-indicators li {
	border-color: #333333;
}

.carousel-indicators li.active {
	background-color: #333333;
}

.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}

.item span {
	font-style: normal;
}

.panel {
	border: 1px solid #333333;
	border-radius: 10;
	transition: box-shadow 0.5s;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
	border: 1px solid #333333;
	background-color: #fff;
	color: #333333;
}

.panel-heading {
	color: #fff ;
	background-color: #333333;
	padding: 15px;
	border-bottom: 1px solid transparent;
 	border-top-left-radius: 10;
	border-top-right-radius: 10;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; 
}

.panel-footer {
	background-color: white ;
}

.panel-footer h3 {
	font-size: 32px;
}

.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}

.panel-footer .btn {
	margin: 15px 0;
	background-color: #333333;
	color: #fff;
}

.navbar {
	margin-bottom: 0;
	background-color: #333333;
	z-index: 9999;
	border: 0;
	line-height: 1.42857143 ;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff ;
}



footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #333333;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}
#mainimg{
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	
}
@keyframes slide { 0% {
		opacity: 0;
		transform: translateY(70%);
	}100%{
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide { 0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
	}100%{
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}


@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}


#abmodifymodal {
	display: none;
	position: absolute;
	width: 50%;
	height: 50%;
	margin: auto;
}
input[type=color],
input[type=file], 
.hidediv {
	display: none;
}

.navbar-header a i {
	color: #fff ;
	padding: 15px 15px;
}

.navbar-header a i:hover {
	color: #333333 ;
	background-color: #fff ;
}
.modal-dialog1{
    margin-top: 10%;
	width: 50%;
	height: 50%; 
	margin-left: 25%;

}
table tr td{
	cursor:pointer;
}
#abpopupcontent{
	
}
#abpopup{
	margin: auto;
	display : none;
	position: fixed;
	width: 45%;
	max-height:100%;
	top: 50px;
    left: 50px;
    border-radius: 10px;
    padding: 10px;
	background-color: #efffd7;
	border: solid 3px orange; 
/*     background-image: url("../resources/images/1.png");  */
}

#userinsert_btn{
	float: right;
}
.glyphicon-remove{
	color: red;
}
/* 모달 사이드바 없애기  */
body.modal-open::-webkit-scrollbar {
	display: none;
}
/* flex */
.flexrow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.flexcolumn {
    -ms-flex: 31%; /* IE10 */
    flex: 31%;
    max-width: 31%;
    margin: 0 10px;
    cursor: pointer;
}

.flexcolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.flexcolumn img:hover{
	opacity: 0.7;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .flexcolumn {
        -ms-flex: 47%;
        flex: 47%;
        max-width: 47%;
        cursor: pointer;
    }
    #abpopup{
		display : none;
		width: 75%;
		max-height:100%;
	    border-radius: 10px;
	    padding: 10px;
		background-color: #efffd7;
		border: solid 3px orange; 
	}
	.logincontainer {
		position: absolute;
		max-width: 50%;
		max-height: 40%;
		top:25%;
		left:0;
		background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
		border-radius: 10px;
	}
}
@media screen and (max-width: 600px) {
    .flexcolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        cursor: pointer;
    }
	#abpopup{
		display : none;
		width: 80%;
		max-height:100%;
	    border-radius: 10px;
	    padding: 10px;
		background-color: #efffd7;
		border: solid 3px orange; 
	}
	.logincontainer {
		position: absolute;
		max-width: 80%;
		max-height: 40%;
		top:25%;
		left:0;
		background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
		border-radius: 10px;
	}
}
.board_content_ad{
	background-color:#f0f0f5;
	border-radius: 10px;
	padding:8px 0 8px 0;
}
.board-content-img {
    width: 100%;
    max-width: 600px;
    left: 0;
    top: 0;
}
.modalimg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.closeimg {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.closeimg:hover,
.closeimg:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*   스킨  관련   */
#modifycnskin{
	width: 85%;
	height: 80%;
	max-height: 80%;
	background-color: #f0f0f5;
	border-radius: 8px;
	margin-top: 5%;
}
#commskinlist{
	width: 85%;
	height: 85%;
	margin: auto;
}
.communityskinimg{
	background-color: red;
	max-height: 400px;
}
#cnskinprofile{
	position: relative;
	width :150px; 
	max-height: 150px;  
	background-position: center; 
	left: 45%; 
	border-radius: 150px; 
	border: solid 5px gold;
}
#cnskincover{
	width :100%; 
	max-height: 400px;  
	width: auto;  
	background-position: center;   
	background-repeat: no-repeat;  
	background-size: cover;
}
.logincontainer button{
	background: rgba(0, 0, 0, 0.3);
	color: #f1f1f1; 
}
.logincontainer h2{
	color: #f1f1f1; 
}
.logincontainer {
	position: absolute;
	max-width:30%;
	max-height: 40%;
	top:25%;
	left:20px;
	background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
}