@charset "UTF-8";

/* mycomm calendar */
#mycomm_cal_profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#mycomm_cal_chat{
	font-size: 45px;
	color:#00cee8;
}
#prevcal{width:40px;height: 40px;border-radius: 30%;}
#aftcal{width:40px;height: 40px;border-radius: 30%;}
.jyi_cal{
	width:13%;height:150px;
}

/* left-side calendar */
#jyi_calendar {
	width: 100%;
}
#prevcal_left{width:40px;height: 40px;border-radius: 30%;}
#aftcal_left{width:40px;height: 40px;border-radius: 30%;}

#jyi_main {
	background-color: #00cee8;
}
.jyi_cal_left{
	width:13%;height:50px;
}
.jyi_cal:hover {
	background-color: #00cee8;
}

.jyi_week {
	text-align: center;
	background-color: #00cee8;
	color: white;
}
.jyi_a:link {
	color: black;
	text-decoration: none;
}

.jyi_a:hover {
	color: white;
}