@charset "UTF-8";

/* mycomm calendar */
#jyi_mycomm_calendar {
	width: 90%;
	margin: auto;
}

#jyi_mycomm_calendar_sub {
	width: 90%;
	margin: auto;
}

#mycomm_cal_profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#mycomm_cal_chat {
	font-size: 45px;
	color: #00cee8;
}

#prevcal {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

#aftcal {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

.jyi_cal {
	width: 13%;
	height: 150px;
}

/* mypate mini_Calendar */
.mini_cal_week {
	float: left;
	width: 40px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #00cee8;
	color: white;
	background-color: #00cee8;
}

.mini_cal {
	float: left;
	width: 40px;
	height: 40px;
	font-size: x-large;
	text-align: center;
	border: 1px solid lightgray;
}

.mini_cal:hover {
	background-color: #00cee8;
}
	
#ym {
	color: black;
	text-align: center;
	font-size: 25px;
}

#miniym{
  margin-bottom: 5px;
    text-align: center;
}

#prevmon{
	font-size: 10px;
}

#aftmon{
	font-size: 10px;
}
.jyi_cal_sc {
	width: 13%;
	height: 50px;
}

#jyi_calendar {
	width: 100px;
}

#prevcal_left {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

#aftcal_left {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

#jyi_main {
	background-color: #00cee8;
}

.jyi_cal_left {
	width: 13%;
	height: 50px;
}

.jyi_cal:hover {
	background-color: #00cee8;
}

.jyi_week {
	text-align: center;
	background-color: #00cee8;
	color: white;
	font-size: 25px;
}

.mini_cal_a {
	font-size: 25px;
	color: black;
	text-decoration: none;
}

.mini_cal_a:link {
	color: black;
	text-decoration: none;
}

.jyi_a:hover {
	color: white;
}