@charset "UTF-8";
/*
	main
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font: 400 15px Lato, sans-serif;
	font-size: 15px;
	line-height: 1.8;
	color: #818181;
	
}
.test[style] {
	padding-right:0 !important;
}
.test.modal-open {
	overflow: auto;
}
h2 {
   	font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
	font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
	font-family: Montserrat, sans-serif !important;
	background-color: #00cee8;
	color: #fff;
   	padding: 100px 25px;
}
.jumbotron h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif !important;
}
#mpjumbo{
	margin-bottom: 0 !important;
}
.container-fluid {
	padding: 60px 50px;
}
.bg-grey {
	background-color: #f6f6f6;
}
.logo-small {
	color: #337ab7;
	font-size: 50px;
}
.logo {
    color: #337ab7;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
	text-align: center;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    border-radius: 20px !important;
}
.panel:hover {
    -webkit-box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-body,.panel-footer {
	padding: 25px 25px;
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-footer {
    background-color: white !important;
    border-radius: 20px;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
    /*margin-bottom: 15px;*/
}
.panel-footer .btn {
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #00cee8;
    z-index: 99;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.miniLogo {
	width: 74px;
	height: 50px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-brand {
	padding: 0px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-collapse .navbar-nav .btn-lg {
	border-radius: 0;
	padding: 12px 16px;
}
.navbar-collapse .navbar-nav .btn-default {
	border-color: white;
}
.navbar-collapse .navbar-nav .btn-default .glyphicon-search {
	color: white;
}
.navbar-collapse .navbar-nav .btn-default:hover .glyphicon-search {
	color: #f4511e;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
	  text-align: center;
	  margin: 25px 0;
	}
	.btn-lg {
	    width: 100%;
	    margin-bottom: 35px;
	}
	.logoImg {
		width: 371.7px;
		height: 277.2px;
	}
	.sidenav {
		display:none;
	}
	#commentForm input[type='text'] {
		width: 70% !important;
	}
	.deleteModal {
		margin-top: 100% !important;
	}
	.modal-sm {
		width: 300px;
		margin: auto;
	}
	.navbar-comm-menu {
		width: 480px !important;
	}
	.navbar-comm-menu .navbar-center{
		margin: 0 !important;
	}
	.navbar-comm-menu .navbar-center>li {
		float: left;
		margin-right: 5px !important;
	}
	.navbar-comm-menu .navbar-center>li>a {
		padding-left: 8px !important;
		padding-right: 11px !important;
		font-size: 8px !important;
	}
	.pollOption {
		left: 90% !important;
	}
}
@media screen and (max-width: 480px) {
	.logo {
	    font-size: 150px;
	}
	.logoImg {
		width: 212.4px;
		height: 158.4px;
	}
	.commentOption {
		left: 90% !important;
	}
	.boardOption {
		left: 92% !important;
	}
	.navbar-comm-menu {
		width: 320px !important;
	}
	.navbar-comm-menu .navbar-center>li {
		margin-top: 3px;
	}
}
/*
	mypage
*/
#mypageJumbo{
	height: 400px;
	padding: 0px;
	margin: 0px;
}
#mypageJumbo > div {
	position: relative;
	z-index: 1;
	height: 400px;
	background-color: #00cee8;
	/* 추가 */
	background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}
#mypageJumbo > div:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
	content:"";
	height: 100%;
	width: 100%;
	/*background: url('../images/logo2.png');
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto;
	opacity: 0.7 !important;*/
}
#mypageJumbo #profileImg {
	width: 150px;
	height: 150px;
	margin-top: 100px;
	background-color: white;
	border: 4px solid white;
}
.affix {
	top: 0;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	/*
	background-color: #f4511e;
	border-color: #f4511e;
	*/
}
.affix a {
    color: #fff !important;
    padding: 15px !important;
    /*padding: 15px !important;*/
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 25px !important;
    /*padding: 25px !important;*/
}
.affix + .container-fluid {
    padding-top: 95px;
}
.affix #search {
	opacity: 1;
	width: 50px;
	height: 50px;
	/*
	background-color: white;
	*/
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
/*
.affix .glyphicon-search {
	color: #f4511e !important;
}
.affix button:hover .glyphicon-search {
	color: #00cee8 !important;
}*/
.affix #myNavbar {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.dropdown-menu li a {
	height: 50px;
	padding-top: 14px;
	color: #818181 !important;
}
#headerSearch {
	z-index: 99;
	position: absolute;
	margin-top: 49px;
	height: 50px;
	display: none;
	opacity:0.8;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#headerSearch .row .container .input-group button {
	background-color: #00cee8;
	color: white;
}
#headerSearch .row .container .input-group button:hover .glyphicon {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	/*
	color: #f4511e;
	*/
	text-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
#headerSearch .row .search_con {
	padding : 0;
}
#headerSearch .input-group .search_bar {
	height: 50px;
	border-radius: 0px;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#headerSearch input.search_bar {
	border: 1px solid #00cee8;
}
.search_big {
	height: 70px !important;
}
.search_big_w {
	width: 70px !important;
}
#search {
	width: 70px;
	height: 70px;
	background-color: #00cee8;
	border: 0px;
}
/*
.modal-dialog {
	width: 70%;
}
.modal-content {
	margin-top: 13%;
	width: 60%;
	float: left;
}
*/
.writeModal {
	margin-top: 13%;
}
.btn-file{
	position: relative;
	overflow: hidden;
}
input[type='file'].myboardFile {
	display: none;
}
.myboard-progress {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	margin-bottom: 0 !important;
	opacity: 0;
}
.myboard-progress>.progress-bar {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#myBoardList {
	margin-top: 70px;
}
#myBoardList .panel-group .panel-body .img-responsive {
	max-height: 500px;
}
#myBoardSelect .panel-group .panel-body .img-responsive {
	max-height: 700px;
}
.panel-default > .panel-heading {
	background-color: transparent !important;
}
.panel-default > .panel-heading:hover {
	background-color: #f5f5f5 !important;
	/*cursor: pointer;*/
}
.panel-heading {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.postTitle {
	font-size: 36px !important;
	font-weight: 600;
}
.postBlock {
	margin-bottom: 10px !important;
	border-color: #f4511e !important;
}
.postLikeComment {
	font-size: 24px !important;
	font-weight: 400;
	color: #f4511e !important;
}
.badge {
	background-color: #f4511e;
	font-size: 16px;
	margin-bottom: 2px;
}
.postA {
	color: #f4511e;/* #818181 */
	text-decoration: none;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.postA:hover {
	text-decoration: none;
	color: #f4511e;
	text-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.select {
	border-left: 5px solid #f4511e;
	padding-left: 30px;
}
.likes {
	padding-left: 35px;
}
.likes a.btn-default {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	width: 80px;
	height: 40px;
	font-size: 16px;
	padding: 8.5px 12px;
	border: 0;
	float: left;
	margin-right: 20px;
}
.likes a.btn-default:hover {
	border: 0;
}
.likeUserList {
	height: 40px;
}
.likeUserList img {
	height: 40px;
	width: 40px;
	border: 1px solid silver;
	float: left;
	margin-left: 10px;
}
img.media-object {
	width: 50px;
	height: 50px;
}
#commentForm {
	width: 100%;
}
#commentForm input[type='text'] {
	font-size: 18px;
	height: 50px;
	width: 90%;
	float: left;
	border-radius: 20px;
	margin-right:10px;
}
#commentForm button[type='submit'] {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	height: 50px;
	width: 50px;
	font-size: 18px;
	border-radius: 25px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	margin: auto;
}
#commentForm button[type='submit']:hover {
	border: 0;
}
#commentList .media-body > h3 {
	margin-top: 10px;
	font-size: 24px;
}
#commentList .media-body h3 strong > a {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#commentList .media-body h3 strong > a:hover {
	text-decoration: none;
	color: lightblue;
	text-shadow: 0 1px 3px rgba(0,0,0,0.25)
}
#commentList .media-body > p {
	margin-top: 10px;
	color: black;
}
/*
#commentList .media-body > i {
	cursor: pointer;
	font-size: 20px;
	margin-right: 10px;
}
*/
.thumbsUp {
	font-size: 20px;
	margin-right: 10px;
}
.thumbsUp:hover {
	text-decoration: none;
}
#commentList .media-body > span {
	margin-right: 30px;
}
#commentList div.media {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.help-block {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    color: #f4511e;
    text-shadow: 0 1px 7px rgba(0,0,0,0.25)
}
.pagination > li .bPaging {
	border: 0 !important;
	color: #f4511e !important;
}
.pagination>.active>.aPaging,.aPaging:hover {
	color: white !important;
	border-radius: 15px;
	background-color: #800000;
}
.pagination > li span.glyphicon {
	top: 0px !important;
}
/* 
[data-toggle="tooltip"] {
	color: tomato;
}
[data-toggle="tooltip"]:hover {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	color: white;
} */
/*
	인접 요소 선택자 +
#commentList small + span {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    color: #f4511e;
    margin-left: 30px;
}
*/
.msgSpan {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    font-size: 15px;
    color: #f4511e;
    margin-left: 30px;
}
.boardOption {
	position: relative;
	top: -70px;
	left: 95%;
	margin-bottom: -53px;
	text-align: left !important;
}
.boardOption > button {
	background-color: transparent !important;
	color: #f4511e !important;
	border: 0 !important;
}
.boardOption .rightOption {
	left: -162px;
	top: -3px;
}
.boardOption button .glyphicon {
	font-size: 28px;
}
.commentOption {
	position: relative;
	top: -38px;
	left: 95%;
}
.commentOption + p {
	position: relative;
	top: -38px;
	margin-bottom: -30px;
}
.commentOption > button {
	background-color: white !important;
	color: #818181 !important;
	border: 0 !important;
}
.commentOption .rightOption {
	left: -162px;
	top: -3px;
}
.deleteModal {
	margin-top: 100%;
}
.msgBox {
	-webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	display: none;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index:9999;
	text-align: center;
	
}
.msgBox:after {
	position: absolute;
	z-index: 9998;
}
.alert-danger {
	-webkit-box-shadow: 5px 8px 10px rgba(0,0,0, .2);
	box-shadow: 5px 8px 10px rgba(0,0,0, .2);
}
.disabled {
	cursor: default !important;
}
div.popover.left {
	left: -280px !important;
}
.prev, .next {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	font-size: 30px;
	margin: 15px;
	color: #800000;
}
.prev:hover, .next:hover {
	color: #337ab7;
}
.editableDiv {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-writing-mode: horizontal-tb !important;
	white-space: nowrap;
	overflow: auto;
	-ms-overflow-style: none;
	z-index: 2;
	background-color: transparent;
}
.editableDiv:focus {
	border-color: #66afe9;/*rgba(126, 239, 104, 0.8);*/
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);/*rgba(126, 239, 104, 0.6);*/
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);/*rgba(126, 239, 104, 0.6);*/
	outline: 0 none
}
.editableDiv::-webkit-scrollbar {
	display: none;
}
body.modal-open::-webkit-scrollbar {
	display: none;
}
.tagsPlaceholder {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	color: #aeb5c5;
	position: relative;
	top: -31px;
	left: 13px;
	z-index: 3;
	font-size: 14px;
	opacity: 1;
}
.tagSpan {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	display: inline-block;
	border: 0.5px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
	color: #aeb5c5;
	margin-left: 8px;
	margin-bottom: 4px;
	padding: 4px 10px;
	height: 30px;
	opacity: 0;
}
.glyphicon-remove-circle {
	cursor: pointer;
}
/*
	communityMain
*/
#communityJumbo {
	height: 400px;
	padding: 0px;
	margin: 0px;
}
#communityJumbo > div {
	position: relative;
	z-index: 1;
	height: 400px;
	background-color: #00cee8;
}
#communityJumbo > div:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: "";
	height: 100%;
	width: 100%;
	opacity: 0.7 !important;
}
#communityJumbo .communityHeader {
	position: relative;
	margin: auto;
	top: 50%;
}
#communityJumbo h3.communityHeader {
	font-size: 46px;
}
#communityJumbo p.communityHeader {
	margin-top: 40px;
}
.communitySlide .panel-body {
	padding-bottom: 0;
	height: 226.36px;
}
.communitySlide .img-responsive {
	max-height: 100%;
}
.form-join {
	position: relative;
	top: 55%;
}
.btn-join-follow,.btn-comm-admin {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	background-color: transparent; /* rgba(0,0,0,0.3); */
	border: 0px;
	border-radius: 20px;
	width: 50%;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
}
.btn-join-follow:hover,.btn-comm-admin:hover {
	background-color: rgba(0,0,0,0.3);
	color: white;
}
.btn-comm-admin {
	
}
#best {
	margin-top: 100px;
	overflow: hidden;
	height: 844px;/*685px;*/
	padding: 0px;
}
#best .communitySlide {
	float: left;
	margin: 2px;
	position: relative;
	width: 288.5px;
}
.bigTitle {
	font-weight: 600;
}
#issue-img {
	margin-top: 50px;
	color: black;
}
#issue-img img {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#issue-img img:hover {
	transform: scale(1.05);
	-webkit-transform:scale(1.05);  
}
#issue-vid {
	margin-top: 50px;
}
#issue-vid video {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#issue-vid video:hover {
	transform: scale(1.05);
	-webkit-transform:scale(1.05); 
}
#build {
	color: black;
}
/*
	Community
*/
.navbar-comm-menu {
	overflow: hidden;
	background-color: transparent;
	position: relative;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 724px;
	padding: 10px;
	z-index: 90;
}
.navbar-comm-menu .navbar-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.navbar-comm-menu .navbar-center>li {
	margin-right: 15px;
}
.navbar-comm-menu .navbar-center>li>a {
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	padding-left: 16px;
	padding-right: 23px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.navbar-comm-menu .navbar-center>li>a>i {
	margin-right: 8px;
}
.navbar-comm-menu.affix{
	top: 45px;
	position: fixed;
}
#commBoardList {
	
}
#commNotice {
	margin-top: 5px;
	margin-bottom: 30px;
}
#commNotice .commNoticeList {
	list-style: none;
	width: 50%;
}
#commNotice .commNoticeList>li {
	background-color: rgba(0,0,0,0.5);
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	cursor: pointer;
}
#commNotice .commNoticeList>li:hover {
	color: #f4511e;
	background-color: white;
}
#commNotice .commNoticeList>li>a {
	display: block;
}
#commNotice .commNoticeList>li>a:hover {
	text-decoration: none;
	color: #f4511e;
}
#commNotice .commNoticeList>li>a>i {
	display: inline-block;
	margin-right: 10px;
	line-height: 1.5;
}
#commPollList span.glyphicon-stats {
	margin-right: 10px;
	color: #f4511e;
}
#commPollList .btn-info {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#commPollList .media-heading>a {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #818181;
}
#commPollList .media-heading>a:hover {
	color: lightblue;
	text-decoration: none;
}
#commPollList .btn-poll {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	color: white;
}
#commPollList .btn-poll>span {
	margin-right: 8px;
}	
#commPollList .btn-poll:hover {
	background-color: white;
	color: #f4511e;
}
#commPollList .poll-body {
	height: 240px;
}
#commPollList .poll-body .poll-list-options {
	position: relative;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
#pollOptions {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#commPollList .poll-options {
	list-style: none;
	padding: 0;
	margin: 0;
}
#commPollList .comm-vote-progress {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	height: 34px;
	margin-bottom: 5px;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}
#commPollList .comm-vote-progress:hover .optionText {
	-webkit-box-shadow: 2px 5px 9px rgba(0,0,0,0.25);
	box-shadow: 2px 5px 9px rgba(0,0,0,0.25);
	color: #f4511e;
}
#commPollList .comm-vote-progress:hover .progress-bar  {
	background-color: white;
}
#commPollList .comm-vote-progress>.progress-bar {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #4a90e2;
	background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.2));
}
#commPollList .optionText {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	display: inline-block;
	color: white;
	position: absolute;
	width: 100%;
	height: 33px;
	left: 0;
	line-height: 2.2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	padding-left: 10px;
}
#commPollList .optionPerc {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	display: none;
	color: white;
	position: absolute;
	width: 30%;
	left: 70%;
	line-height: 2.2;
	opacity: 0;
}
#commPollList .optionText.voted {
	text-align: left;
}
#commPollList .optionPerc.voted {
	opacity: 1;
	display: inline-block;
	width: 30%;
	left: 70%;
}
#commPollList .pollOption {
	position: relative;
	top: -70px;
	left: 93%;
	margin-bottom: -50px;
	text-align: left !important;
}
#commPollList .pollOption > button {
	background-color: transparent !important;
	color: #f4511e !important;
	border: 0 !important;
}
#commPollList .pollOption .rightOption {
	left: -162px;
	top: -3px;
}
#commPollList .text-nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
}