@charset "UTF-8";
/*
	main
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font: 400 15px Lato, sans-serif;
	font-size: 15px;
	line-height: 1.8;
	color: #818181;
	
}
.test[style] {
	padding-right:0 !important;
}
.test.modal-open {
	overflow: auto;
}
h2 {
   	font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
	font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
	font-family: Montserrat, sans-serif;
	background-color: #00cee8;
	color: #fff;
   	padding: 100px 25px;
}
#mpjumbo{
	margin-bottom: 0 !important;
}
.container-fluid {
	padding: 60px 50px;
}
.bg-grey {
	background-color: #f6f6f6;
}
.logo-small {
	color: #337ab7;
	font-size: 50px;
}
.logo {
    color: #337ab7;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
	text-align: center;
    transition: box-shadow 0.5s;
    border-radius: 20px !important;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-body,.panel-footer {
	padding: 25px 25px;
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-footer {
    background-color: white !important;
    border-radius: 20px;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #00cee8;
    z-index: 99;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.miniLogo {
	width: 74px;
	height: 50px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-brand {
	padding: 0px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-collapse .navbar-nav .btn-lg {
	border-radius: 0;
	padding: 12px 16px;
}
.navbar-collapse .navbar-nav .btn-default {
	border-color: white;
}
.navbar-collapse .navbar-nav .btn-default .glyphicon-search {
	color: white;
}
.navbar-collapse .navbar-nav .btn-default:hover .glyphicon-search {
	color: #f4511e;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
	  text-align: center;
	  margin: 25px 0;
	}
	.btn-lg {
	    width: 100%;
	    margin-bottom: 35px;
	}
	.logoImg {
		width: 371.7px;
		height: 277.2px;
	}
	.sidenav {
		display:none;
	}
	#commentForm input[type='text'] {
		width: 70% !important;
	}
	.deleteModal {
		margin-top: 100% !important;
	}
	.modal-sm {
		width: 300px;
		margin: auto;
	}
}
@media screen and (max-width: 480px) {
	.logo {
	    font-size: 150px;
	}
	.logoImg {
		width: 212.4px;
		height: 158.4px;
	}
	.commentOption {
		left: 90% !important;
	}
	.boardOption {
		left: 92% !important;
	}
}
/*
	mypage
*/
#mypageJumbo{
	height: 400px;
	padding: 0px;
	margin: 0px;
}
#mypageJumbo > div {
	position: relative;
	z-index: 1;
	height: 400px;
	background-color: #00cee8;
}
#mypageJumbo > div:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
	content:"";
	height: 100%;
	width: 100%;
	background: url('../images/logo2.png');
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto;
	opacity: 0.7 !important;
}
#mypageJumbo #profileImg {
	width: 150px;
	height: 150px;
	margin-top: 125px;
	background-color: white;
	border: 4px solid white;
}
.affix {
	top: 0;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #f4511e;
	border-color: #f4511e;
}
.affix a {
    color: #fff !important;
    padding: 15px !important;
    /*padding: 15px !important;*/
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 25px !important;
    /*padding: 25px !important;*/
}
.affix + .container-fluid {
    padding-top: 95px;
}
.affix #search {
	opacity: 1;
	width: 50px;
	height: 50px;
	background-color: white;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix .glyphicon-search {
	color: #f4511e !important;
}
.affix button:hover .glyphicon-search {
	color: #00cee8 !important;
}
.affix #myNavbar {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.dropdown-menu li a {
	height: 50px;
	padding-top: 14px;
	color: #818181 !important;
}
#headerSearch {
	z-index: 99;
	position: absolute;
	margin-top: 49px;
	height: 50px;
	display: none;
	opacity:0.8;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#headerSearch .row .container .input-group button {
	background-color: #00cee8;
	color: white;
}
#headerSearch .row .container .input-group button:hover .glyphicon {
	color: #f4511e;
}
#headerSearch .row .search_con {
	padding : 0;
}
#headerSearch .input-group .search_bar {
	height: 50px;
	border-radius: 0px;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#headerSearch input.search_bar {
	border: 1px solid #00cee8;
}
.search_big {
	height: 70px !important;
}
.search_big_w {
	width: 70px !important;
}
#search {
	width: 70px;
	height: 70px;
	background-color: #00cee8;
	border: 0px;
}
/*
.modal-dialog {
	width: 70%;
}
.modal-content {
	margin-top: 13%;
	width: 60%;
	float: left;
}
*/
.writeModal {
	margin-top: 13%;
}
.btn-file{
	position: relative;
	overflow: hidden;
}
input[type='file'].myboardFile {
	display: none;
}
.progress {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	margin-bottom: 0 !important;
	opacity: 0;
}
.progress-bar {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#myBoardList {
	margin-top: 70px;
}
#myBoardList .panel-group .panel-body .img-responsive {
	max-height: 500px;
}
#myBoardSelect .panel-group .panel-body .img-responsive {
	max-height: 700px;
}
.panel-heading {
	background-color: transparent !important;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.panel-heading:hover {
	background-color: #f5f5f5 !important;
	/*cursor: pointer;*/
}
.postTitle {
	font-size: 36px !important;
	font-weight: 600;
}
.postBlock {
	margin-bottom: 10px !important;
	border-color: #f4511e !important;
}
.postLikeComment {
	font-size: 24px !important;
	font-weight: 400;
	color: #f4511e !important;
}
.postA {
	color: #f4511e;/* #818181 */
	text-decoration: none;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.postA:hover {
	text-decoration: none;
	color: #f4511e;
	text-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
.select {
	border-left: 5px solid #f4511e;
	padding-left: 30px;
}
.likes {
	padding-left: 35px;
}
.likes a.btn-default {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	border-radius: 20px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	width: 80px;
	height: 40px;
	font-size: 16px;
	padding: 8.5px 12px;
	border: 0;
	float: left;
	margin-right: 20px;
}
.likes a.btn-default:hover {
	border: 0;
}
.likeUserList {
	height: 40px;
}
.likeUserList img {
	height: 40px;
	width: 40px;
	border: 1px solid silver;
	float: left;
	margin-left: 10px;
}
img.media-object {
	width: 50px;
	height: 50px;
}
#commentForm {
	width: 100%;
}
#commentForm input[type='text'] {
	font-size: 18px;
	height: 50px;
	width: 90%;
	float: left;
	border-radius: 20px;
	margin-right:10px;
}
#commentForm button[type='submit'] {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	height: 50px;
	width: 50px;
	font-size: 18px;
	border-radius: 25px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.25);
	margin: auto;
}
#commentForm button[type='submit']:hover {
	border: 0;
}
#commentList .media-body > h3 {
	margin-top: 10px;
	font-size: 24px;
}
#commentList .media-body h3 strong > a {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#commentList .media-body h3 strong > a:hover {
	text-decoration: none;
	color: lightblue;
	text-shadow: 0 1px 3px rgba(0,0,0,0.25)
}
#commentList .media-body > p {
	margin-top: 10px;
	color: black;
}
/*
#commentList .media-body > i {
	cursor: pointer;
	font-size: 20px;
	margin-right: 10px;
}
*/
.thumbsUp {
	font-size: 20px;
	margin-right: 10px;
}
.thumbsUp:hover {
	text-decoration: none;
}
#commentList .media-body > span {
	margin-right: 30px;
}
#commentList div.media {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.help-block {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    color: #f4511e;
    text-shadow: 0 1px 7px rgba(0,0,0,0.25)
}
.pagination > li .bPaging {
	border: 0 !important;
	color: #f4511e !important;
}
.pagination>.active>.aPaging,.aPaging:hover {
	color: white !important;
	border-radius: 15px;
	background-color: #800000;
}
.pagination > li span.glyphicon {
	top: 0px !important;
}
[data-toggle="tooltip"] {
	color: tomato;
}
[data-toggle="tooltip"]:hover {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	color: white;
}
/*
	인접 요소 선택자 +
#commentList small + span {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    color: #f4511e;
    margin-left: 30px;
}
*/
.msgSpan {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    font-size: 15px;
    color: #f4511e;
    margin-left: 30px;
}
.boardOption {
	position: relative;
	top: -70px;
	left: 95%;
	margin-bottom: -53px;
	text-align: left !important;
}
.boardOption > button {
	background-color: transparent !important;
	color: #f4511e !important;
	border: 0 !important;
}
.boardOption .rightOption {
	left: -162px;
	top: -3px;
}
.boardOption button .glyphicon {
	font-size: 28px;
}
.commentOption {
	position: relative;
	top: -38px;
	left: 95%;
}
.commentOption + p {
	position: relative;
	top: -38px;
	margin-bottom: -30px;
}
.commentOption > button {
	background-color: white !important;
	color: #818181 !important;
	border: 0 !important;
}
.commentOption .rightOption {
	left: -162px;
	top: -3px;
}
.deleteModal {
	margin-top: 100%;
}
.msgBox {
	-webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	display: none;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index:9999;
	text-align: center;
	
}
.msgBox:after {
	position: absolute;
	z-index: 9998;
}
.alert-danger {
	box-shadow: 5px 8px 10px rgba(0,0,0, .2);
}
.disabled {
	cursor: default !important;
}
div.popover.left {
	left: -280px !important;
}
.prev, .next {
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	font-size: 30px;
	margin: 15px;
	color: #800000;
}
.prev:hover, .next:hover {
	color: #337ab7;
}