@charset "UTF-8";

/* myfriends list */
.myFriendContainer {
	width: 100%;
	border-radius: 5px;
	padding: 4%;
}

.myFriendContainer::after {
	content: "";
	clear: both;
	display: table;
}

.myFriendContainer img {
	width: 74px;
	height: 70px;
	float: left;
	margin-right: 20px;
	border-radius: 30%;
	border: 4px white solid;
}

.myFriendContainer span {
	word-break: break-all;
	font-size: 20px;
	color: black;
}

@media ( max-width : 500px) {
	.myFriendContainer {
		text-align: center;
	}
	.myFriendContainer img {
		margin: auto;
		float: none;
		display: block;
	}
}
/*/////////////////////////////////////////////////////*/
/* community */
#new_comm_search {
	width: 70px;
	height: 70px;
	background-color: #00cee8;
	border: 0px;
}

#new_community .affix #new_comm_myNavbar {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#build a:focus, a:hover {
	color: black;
	text-decoration: none;
}

#new_community a {
	padding-top: 25px;
	padding-bottom: 25px;
}

#pre_newComm_content {
	overflow: hidden;
}

#new_community .form-horizontal {
	padding: 1% 0% 3% -1%;
}

#new_community .w3-col.m4, .w3-third {
	width: 25%;
}

#new_community .col-sm-2 {
	width: 11%;
}

#new_community_submit {
	width: 50%;
	margin-left: 27%;
}

#new_community_cover {
	width: 60% !important;
	margin-left: 20%;
}

/* myinfo */
#myinfo .navbar-form {
	width: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-left: -15px;
}

#myinfo_pwd {
	width: 160%;
}

#myinfo .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	z-index: 2;
	margin-left: 112px;
}
/* #myinfo_pwd_submit .btn .btn-default{
	z-index: 2;
	margin-left: 100px;
	padding: 7px 30px 5px 15px;
} */
.container_borderInset {
	margin: 5% 0% 5% 25%;
	border-radius: 50px;
	width: 50%;
	padding: 5px 5px 5px 20px;
}

}
.container_borderInset .form-group {
	margin-bottom: 15px;
	width: 100%;
}

.container_borderInset .form-horizontal {
	width: 110%;
}

#myinfo_delete {
	margin-left: 10%;
	margin-top: 0%;
}

#myinfo_delete_user_pwd {
	width: 84%;
}

.container_borderInset .modal-content {
	width: 80%;
}

/* myskin */
#mypage_new_skin #preview_cover {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.myskin {
	margin: auto;
	height: 300px;
}

.myskin_list_nav {
	width: 74.5%;
	background-color: #00cee8;
	height: 80px;
	margin: -2% 0% 0% 6%;
}

#profile_preview {
	border: white 4px solid !important;
	margin-top: 60px;
	width: 150px;
	height: 150px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#preview_cover {
	width: 80%;
	height: 450px;
	margin: auto;
	font-family: Montserrat, sans-serif;
	background-color: #00cee8;
	color: #fff;
	/* padding: 1px 1px; */
}

#preview_msg {
	margin-bottom: 13px;
	margin-top: -22px;
	width: max-content;
	color: black;
	border-bottom: 2px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	font-weight: bold;
}

/* .pre_cover {
	border-radius: 10px;
	width: 80%;
	margin: auto;
	font-family: Montserrat, sans-serif;
	background-color: #00cee8;
	color: #fff;
	padding: 1px 1px;
	
} */
.pre_cover {
	background-size: cover !important;
	padding: 1% 0% 0% 0%;
	margin: auto;
	width: 75%;
	background-repeat: no-repeat !important;
	border-radius: 10px;
	display: none;
	/*position: relative;*/
}
/* .pre_cover:before{
	top:0;
	left:0;
	position: absolute;
	width:100%;
	height: 100%;
	display: block;
	content: '';
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
} */
#preview_navbar .navbar-nav>li>a {
	padding-top: 25px;
	padding-bottom: 25px;
}

#preview_cover button {
	width: 70px;
	height: 70px;
	background-color: #00cee8;
	border: 0px;
}

#preview_navbar {
	background-color: #00cee8;
}

#ms_color {
	width: 75px;
	height: 32px;
	border-radius: 10%;
}

/* 스킨 추가 */
.myskin_ud_add {
	background-color: #00cee8;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	font-weight: 700;
	text-decoration-line: none !important;
}

/* 기본값으로 적용 */
.myskin_ud_default {
	background-color: #00cee8;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	font-weight: 700;
	text-decoration-line: none !important;
}

/* 적용 */
.myskin_ud {
	margin-left: 2.5%;
	display: none;
	width: 24%;
	background-color: #00cee8;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	font-weight: 700;
	text-decoration-line: none !important;
}

#myskin_list_nickname {
	width: max-content;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	font-size: xx-large;
}
#myskin_dropmenu {
	position: absolute;
	left: 44%;
	transform: translateX(-50%);
}
/* mypage 커뮤니티 일정 mouseover했을 때 */
.calevent {
	    margin-top: 0.5%;
	    position: absolute;
    width: 67%;
    height: 512%;
    margin-left: -0.5%;
    padding: 0.5px;
    border-radius: 10px;
    background-color: lightgray;
    padding-left: -11px;
}

/* mypage mini_Calendar */
#yearArr {
	font-size: smaller;
	margin-left: 4%;
}

#wrap_icon_calendar {
	height: 265px !important;
	position: absolute;
	/* width: 320px; */
	margin-top: -250px;
	margin-left: -320%;
}

.mini_cal_week {
	float: left;
	width: 14.2%;
	height: 22px;
	font-size: 11px;
	text-align: center;
	border: 1px solid #00cee8;
	color: white;
	background-color: #00cee8;
}

.mini_cal {
	float: left;
	width: 29px;
	height: 29px;
	font-size: small !important;
	text-align: center;
	border: 1px solid lightgray;
}

.mini_cal:hover {
	background-color: #00cee8;
}

#ym {
	color: black;
	text-align: center;
	font-size: 25px;
}

#miniym {
	margin-bottom: 5px;
	text-align: center;
}

#prevmon {
	font-size: 10px;
	position: absolute;
	margin-left: -21%;
}

#aftmon {
	font-size: 10px;
	position: absolute;
	margin-left: 7%;
}

}
.jyi_cal_sc {
	width: 13%;
	height: 50px;
}

#jyi_calendar {
	width: 100px;
}

#prevcal_left {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

#aftcal_left {
	width: 40px;
	height: 40px;
	border-radius: 30%;
}

#jyi_main {
	background-color: #00cee8;
}

.jyi_cal_left {
	width: 13%;
	height: 50px;
}

.jyi_cal:hover {
	background-color: #00cee8;
}

.mycomm_week {
	text-align: center;
	background-color: #00cee8;
	color: white;
	font-size: 25px;
}

.mini_cal_a {
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.mini_cal_a:link {
	color: black;
	text-decoration: none;
}

.mycomm_a:hover {
	color: white;
}