<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kfi.mybatis.ysy.AdminMapper">
 	<select id="abmaxnum" resultType="int">
 		select nvl(max(admin_num),1)maxnum from admin
 	</select>
 	<select id="adlogin" parameterType="hashmap" resultType="com.kfi.ysy.admin.vo.AdminVo">
 		select * from admin where admin_id=#{admin_id} and admin_pwd=#{admin_pwd}
 	</select>
 	<select id="adcheckid" parameterType="string" resultType="int">
 		select count(*) from admin where admin_id=#{admin_id}
 	</select>
 	<insert id="adjoin" parameterType="com.kfi.ysy.admin.vo.AdminVo">
 		insert into admin values(#{admin_num},#{admin_id},#{admin_pwd},#{admin_nick},#{admin_email},sysdate)
 	</insert>
 	<select id="adminlist" resultType="com.kfi.ysy.admin.vo.AdminVo">
		select * from admin
	</select>
 </mapper>