<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ysy.AdminBoardMapper">
	<sql id="search">
		<if test="field != null and field != ''">
			where ${field} like '%'||#{keyword}||'%'
		</if>
	</sql>
	<select id="abmaxnum" resultType="int">
		select nvl(max(ab_num),1) maxnum from admin_board
	</select>
	<select id="abgetcnt" resultType="int" parameterType="hashmap">
		select nvl(count(*),0) getcnt from admin_board
		<include refid="search"/>
	</select>
	<select id="ablist" parameterType="hashmap" resultType="adminboard">
		select * from
		(
			select ablist.*,rownum rnum from 
			(
			select * from admin_board 
			<include refid="search"/>
			order by ab_num desc 
			)ablist
		)
		<![CDATA[ where rnum>=#{startrow} and rnum<=#{endrow}]]>
	</select>
	<select id="abdetail" resultType="adminboard">
		select * from admin_board where ab_num=#{ab_num}
	</select>
	<insert id="abinsert" parameterType="adminboard">
		insert into admin_board values(#{ab_num},#{admin_num},0,#{ab_content},#{ab_title},sysdate)
	</insert>
	<delete id="abdelete" parameterType="int">
		delete from admin_board where ab_num=#{ab_num}
	</delete>
	<update id="abupdate" parameterType="int">
		update from admin_board
		<set>
			<if test="ab_notice!=null and ab_notice!=''"></if>
			<if test="ad_content!=null and ad_content!=''"></if>
			<if test="ab_title!=null and ab_title!=''"></if>
		</set>
		where ab_num=#{ab_num}
	</update>
</mapper>