<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ysy.CommSkinProfileMapper">
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(csp_num),0) from comm_skin_profile
	</select>
	
	<insert id="insert" parameterType="commskinprofile">
		insert into comm_skin_profile values(#{csp_num},#{comm_num},#{csp_orgimg},#{csp_savimg},#{csp_using})
	</insert>

	<select id="select_usingProfile" parameterType="int" resultType="commskinprofile">
		select * from comm_skin_profile where comm_num=#{comm_num} and csp_using=1
	</select>
	
	<select id="list">
		select * from comm_skin_profile
	</select>
	
	
	<select id="select" parameterType="int" resultType="commskinprofile">
		select * from comm_skin_profile where comm_num=#{comm_num} and csp_using=1
	</select>
</mapper>