<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ysy.CommRefuseMapper">
	<select id="getMaxNum" resultType="int">
		select NVL(max(cr_num),0) maxnum from comm_refuse
	</select>
		<insert id="insert" parameterType="commrefuse">
		insert into comm_refuse values(#{cr_num},#{cul_num},#{cr_refuse})
	</insert>
	
</mapper>