<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.dgl.mailMapper">


<!-- vo 데이터 참고용
	private int user_num; // 유저번호 USER_NUM
	private String user_id; // 아이디 USER_ID
	private String user_pwd; // 비밀번호 USER_PWD
	private String user_nickname; // 닉네임 USER_NICKNAME
	private String user_email; // 이메일 USER_EMAIL
	private Date user_regdate; // 가입일 USER_REGDATE
	private int user_status; // 아이디상태 USER_STATUS
	private int user_certi; // 인증상태 USER_CERTI	 -->
	
	<!-- 인증코드(키) 생성 -->
	 <insert id="createKey">
		insert into CERTI_MEMBERS values(#{cm_num}, #{user_num}, #{cm_key})
	</insert>
	
</mapper>