<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ldk.CommVoteMapper">
	<select id="getMaxNum" resultType="int">
		select NVL(max(vote_num),0) maxnum from comm_vote
	</select>
	<select id="getCount" resultType="int">
		select NVL(count(vote_num),0) cnt from comm_vote
	</select>
	<insert id="insert" parameterType="commvote">
		insert into comm_vote 
		values(#{vote_num},#{comm_num},#{user_num},#{vote_title},#{vote_info},sysdate,#{vote_end})
	</insert>
	<update id="update" parameterType="commvote">
		update comm_vote 
		<set>
			<if test="vote_title!=null and vote_title!=''">vote_title=#{vote_title},</if>
			<if test="vote_info!=null and vote_info!=''">vote_info=#{vote_info}</if>
		</set>
		where vote_num=#{vote_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from comm_vote where vote_num=#{vote_num}
	</delete>
	<select id="list" parameterType="hashmap" resultType="commvote">
		select *
		from
		(
	 	select aa.*,rownum rnum 
	 	from
	 	(
	 		select *
	 		from comm_vote
	 		order by vote_num desc
	 	)aa
		)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="select" parameterType="int" resultType="commvote">
		select * from comm_vote where vote_num=#{vote_num}
	</select>
	<select id="confirmDel" parameterType="hashmap" resultType="com.kfi.ldk.vo.CommVoteConfirmDelVo">
		select mem.user_num,mem.user_id,mem.user_pwd,cv.vote_num
		from members mem,comm_vote cv
		where mem.user_num=cv.user_num and user_pwd=#{user_pwd} and vote_num=#{mb_num}
	</select>
</mapper>