<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ldk.MyBoardMapper">
	<select id="getMaxnum" resultType="int">
		select NVL(max(mb_num),0) maxnum from my_board
	</select>
	<insert id="insert" parameterType="myboard">
		insert into my_board 
		values(#{mb_num},#{user_num},#{mb_title},#{mb_content},sysdate,0)
	</insert>
</mapper>