<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ldk.MyBoardListViewMapper">
	<sql id="search">
		<choose>
			<when test="keyword!=null and keyword!=''">
				where mb_title like '%'||#{keyword}||'%' or mb_content like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				where user_num=#{user_num}
			</otherwise>
		</choose>
	</sql>
	<!-- 
	[ 검색조건 중첩 주의!!! ]   
	where mb_num>#{mb_num} and 이거 다음에 
	괄호 안넣고 mb_title like '%'||#{keyword}||'%' or mb_content like '%'||#{keyword}||'%' 
	요렇게 바로 넣으면 조건이 중첩돼서 쿼리 결과가 이상하게 나온다
	문자열 조건을 먼저 수행하기 위하여, 괄호를 꼭 주도록 하자!!!
	-->
	<sql id="searchPrevNext">
		<choose>
			<when test="keyword!=null and keyword!=''">
				(mb_title like '%'||#{keyword}||'%' or mb_content like '%'||#{keyword}||'%')
			</when>
			<otherwise>
				(user_num=#{user_num})
			</otherwise>
		</choose>
	</sql>
	<select id="getCount" parameterType="hashmap" resultType="int">
		select NVL(count(mb_num),0) cnt from myboardlist
		<include refid="search"/>
	</select>
	<select id="list" parameterType="hashmap" resultType="myboardlist">
		select *
		from
		(
	 	select aa.*,rownum rnum 
	 	from
	 	(
	 		select *
	 		from myboardlist
	 		<include refid="search"/>
	 		order by mb_num desc
	 	)aa
		)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="select" parameterType="int" resultType="myboardlist">
		select * from myboardlist where mb_num=#{mb_num}
	</select>
	<select id="prev" parameterType="hashmap" resultType="myboardlist">
		select *
		from
		(
			select *
			from myboardlist
			<![CDATA[where mb_num<#{mb_num}]]> and <include refid="searchPrevNext"/>
			order by mb_num desc
		)
		where rownum=1
	</select>
	<select id="next" parameterType="hashmap" resultType="myboardlist">
		select *
		from
		(
			select *
			from myboardlist
			where mb_num>#{mb_num} and <include refid="searchPrevNext"/>
			order by mb_num asc
		)
		where rownum=1
	</select>
</mapper>