<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.ldk.VotingOptionMapper">
	<select id="getMaxNum" resultType="int">
		select NVL(max(vo_num),0) maxnum from voting_option
	</select>
	<select id="getCount" parameterType="hashmap" resultType="com.kfi.ldk.vo.VotingOptionCountJoinVo">
		SELECT CVV.VOTE_NUM,NVL(COUNT(*),0) VOTECNT
		FROM COMM_VOTE CVV,VOTING_OPTION VO,VOTING_USERLIST VU
		WHERE CVV.VOTE_NUM=VO.VOTE_NUM AND VO.VO_NUM=VU.VO_NUM AND CVV.VOTE_NUM=#{vote_num}
		GROUP BY CVV.VOTE_NUM
	</select>
	<insert id="insert" parameterType="votingoption">
		insert into voting_option 
		values(#{vo_num},#{vote_num},#{option_num},#{vo_content})
	</insert>
	<update id="update" parameterType="votingoption">
		update voting_option set vo_content=#{vo_content} where vote_num=#{vote_num} and option_num=#{option_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from voting_option where vo_num=#{vo_num}
	</delete>
	<select id="list" parameterType="hashmap" resultType="com.kfi.ldk.vo.VotingOptionListJoinVo">
		select vo.vo_num,vo.vote_num,vo.option_num,vo.vo_content,aa.cnt
		from voting_option vo, 
		(
		    select vo_num,nvl(count(*),0) cnt
		    from voting_userlist
		    group by vo_num
		)aa
		where vo.vo_num=aa.vo_num and vote_num=#{vote_num} 
		order by option_num asc
	</select>
</mapper>