<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.jyi.CommBoardMapper">
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(cb_num),0) from comm_board
	</select>
	
	<insert id="insert" parameterType="commboard">
		insert into comm_board values(#{cb_num},#{comm_num}, #{user_num},#{cb_title},#{cb_content},sysdate,#{cb_notice},#{cb_views})
	</insert>
	
	<!-- 공지사항 불러오기 -->
	<select id="getNotice" parameterType="int" resultType="commboard">
		select * from comm_board where cb_notice=1 and comm_num=#{comm_num}
	</select>
	
	<select id="select" parameterType="int" resultType="commboard">
		select * from comm_board where cb_num=#{cb_num}
	</select>
	
	<select id="list" parameterType="hashmap" resultType="commboard">
		select commb.* 
		from (
			select cb.*, rownum rnum 
			from comm_board cb 
			where comm_num=#{comm_num}) commb
		<![CDATA[ where rnum >= #{startRow} and rnum <= #{endRow} ]]> order by cb_date desc
	</select>

	<select id="getBoardCnt" parameterType="int" resultType="commboardcnt">
	    select cmcnt, cblcnt, cvcnt, cb
	    from (select nvl(count(distinct commc_num),0) cmcnt from comm_comment where cb_num=#{cb_num}) aa,
	        (select  nvl(count(distinct cbl_num),0) cblcnt from comm_board_like where cb_num=#{cb_num}) bb,
	        (select nvl(max(cb_views),0) cvcnt, nvl(max(cb_num),0) cb from comm_board where cb_num=#{cb_num}) cc 
	</select>

	<delete id="delete" parameterType="int">
		delete from comm_board where cb_num=#{cb_num}
	</delete>

	<select id="commBoard_checkPwd" resultType="int">
		select nvl(count(user_num),0)
		from members
		where user_num = (select user_num from comm_board where cb_num=#{cb_num}) and user_pwd=#{user_pwd}
	</select>

	<update id="updateViews">
		update comm_board set cb_views = cb_views+1 where cb_num=#{cb_num}
	</update>

	<select id="getViews" resultType="int">
		select nvl(max(cb_views),0) from comm_board where cb_num=#{cb_num}
	</select>
	
	
	<select id="getCommBoardProfile" parameterType="int" resultType="commboardprofile">
		select *
		from
		(select msp_savimg, user_nickname, user_num from my_skin_view where ms_using=1 and user_num = (select user_num from comm_board where cb_num=#{cb_num})) aa,
		(select user_email from members where user_num=(select user_num from comm_board where cb_num=#{cb_num})) bb,
		(select cb_num from comm_board where cb_num=#{cb_num}) cc
	</select>
	


</mapper>