<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.jyi.CommCommentMapper">

	<select id="getMaxNum" resultType="int">
		select nvl(max(commc_num),0) from comm_comment
	</select>

	<select id="select_CommentNum" resultType="int">
		select nvl(count(commc_num),0) from comm_comment where cb_num=#{cb_num}
	</select>
	
	<insert id="insert" parameterType="commcomment">
		insert into comm_comment values(#{commc_num},#{cb_num},#{user_num},#{commc_content},sysdate,#{commc_like})
	</insert>

	<select id="list" parameterType="hashmap" resultType="commcomment"> 
		select c.* 
		from (
			select cc.*, rownum rnum 
			from comm_comment cc 
			where cb_num=#{cb_num}
			) c
		<![CDATA[ where rnum >= #{startRow} and rnum <= #{endRow} ]]>
	</select>

	<update id="update_CommcLike" parameterType="int">
		update comm_comment set commc_like=commc_like+1 where commc_num=#{commc_num}
	</update>
	
	<update id="update_disCommcLike" parameterType="int">
		update comm_comment set commc_like=commc_like-1 where commc_num=#{commc_num}
	</update>

	<select id="getCommcLikeCnt" parameterType="int" resultType="int">
		select nvl(max(commc_like),0) from comm_comment where commc_num=#{commc_num}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from comm_comment where commc_num=#{commc_num}
	</delete>

	<update id="update" parameterType="hashmap">
		update comm_comment set commc_content=#{commc_content} where commc_num=#{commc_num}	
	</update>
	

</mapper>