<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.jyi.CommUserListMapper">
	<select id="getMaxNum" resultType="int">
		select NVL(max(cul_num),0) from comm_user_list
	</select>	
	
	<insert id="insert" parameterType="commuserlist">
		insert into comm_user_list values(#{cul_num},#{comm_num},#{user_num},#{cul_status})
	</insert>

	<!-- 탈퇴 -->
	<delete id="delete" parameterType="hashmap" >
		delete from comm_user_list where comm_num=#{comm_num} and user_num=#{user_num}
	</delete>

	<!-- 강퇴 -->	
	<update id="update" parameterType="hashmap" >
		update comm_user_list set cul_status=-1 where user_num=#{user_num} and comm_num=#{comm_num}
	</update>

	<!-- 처리상태 확인(가입유무, 강퇴) -->
	<select id="getCul_status" parameterType="hashmap" resultType="int"> 
		select nvl(max(cul_status),0) from comm_user_list where comm_num=#{comm_num} and user_num=#{user_num}
	</select> 
	
		

</mapper>