<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfi.mybatis.jyi.MyCommCalendarMapper">
	
	<!-- 해당 유저 번호가 가입한 커뮤니티 번호 불러오기 -->
	<sql id="findUserCommNum">
		select comm_num from comm_user_list where user_num=#{user_num}
	</sql>
	
	<!-- comm_num!=0 이면 선택한 커뮤니티 일정 불러오기 -->
	<sql id="find_comm_num">
		<choose>
			<when test="comm_num!=null">
			  where comm_num=#{comm_num}
			</when>
			<otherwise>
			  where comm_num in(<include refid="findUserCommNum"/>)
			</otherwise>
		</choose>
	</sql>
	
	<!-- 유저의 참석유무에 따른 모임 일정 번호 불러오기 -->
	<!-- gatheringOk!=null이면 참석 -->
	<sql id="gathering">
		<choose>
			<when test="gatheringOk!=null and gatheringOk!=''">
              where cc_num in (select cc_num from comm_gathering
                where cc_num in (
                        select cc_num 
                        from comm_calendar
                        <include refid="find_comm_num"/>))
			</when>
			<otherwise>
			 where cc_num != all (select cc_num from comm_gathering
                where cc_num in (
                        select cc_num 
                        from comm_calendar
                        <include refid="find_comm_num"/>))
			</otherwise>
		</choose>
	</sql>
	
	<!-- 유저의 참석유무 상관없이 유저가 속한 모든 커뮤니티의 일정 불러오기 -->
	<select id="MyCommCalList" parameterType="hashmap" resultType="commcalendar">
    	select * from comm_calendar <include refid="find_comm_num"/>
	</select>

	<!-- 유저가 속한 모든 커뮤니티 목록 불러오기 -->
	<select id="myCommunityList" parameterType="int" resultType="community">
		select * from community where comm_num in(<include refid="findUserCommNum"/>)
	</select>

	<!-- **모임에 참석하면 comm_gathering테이블 insert됨 -->
	<!-- 유저의 참석유무 및 커뮤니티 선택에 따른 일정 불러오기 -->
	<select id="getheringCalendar" parameterType="hashmap" resultType="commcalendar">
		select * from comm_calendar
		<include refid="gathering"/>
	</select>


</mapper>