<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kfi.ldk.vo.MyBoardVo" alias="myboard"/>
		<typeAlias type="com.kfi.ldk.vo.MyBoardLikeVo" alias="myboardlike"/>
		<typeAlias type="com.kfi.ldk.vo.MyVideoVo" alias="myvideo"/>
		<typeAlias type="com.kfi.ldk.vo.MyPhotoVo" alias="myphoto"/>
		<typeAlias type="com.kfi.ldk.vo.MyCommentVo" alias="mycomment"/>
		<typeAlias type="com.kfi.ldk.vo.MyCommentLikeVo" alias="mycommentlike"/>
		<typeAlias type="com.kfi.ldk.vo.MyCommentListViewVo" alias="mycommentlist"/>
		<typeAlias type="com.kfi.ldk.vo.MyBoardListViewVo" alias="myboardlist"/>
		<typeAlias type="com.kfi.ldk.vo.TagVo" alias="tag"/>
		<typeAlias type="com.kfi.ldk.vo.MyTagVo" alias="mytag"/>
		<typeAlias type="com.kfi.ldk.vo.CommTagVo" alias="commtag"/>
		<typeAlias type="com.kfi.ldk.vo.CommVoteVo" alias="commvote"/>
		<typeAlias type="com.kfi.ldk.vo.VotingOptionVo" alias="votingoption"/>
		<typeAlias type="com.kfi.ldk.vo.VotingUserlistVo" alias="votinguserlist"/>
		<typeAlias type="com.kfi.jyi.vo.MembersVo" alias="members"/>
		<typeAlias type="com.kfi.jyi.vo.CommUserListVo" alias="commuserlist"/>
		<typeAlias type="com.kfi.jyi.vo.CommunityVo" alias="community"/>
		<typeAlias type="com.kfi.jyi.vo.CommGatheringVo" alias="commgathering"/>
		<typeAlias type="com.kfi.jyi.vo.CommCalendarVo" alias="commcalendar"/>
		<typeAlias type="com.kfi.jyi.vo.MySkinVo" alias="myskin"/>
		<typeAlias type="com.kfi.jyi.vo.MySkinCoverVo" alias="myskincover"/>
		<typeAlias type="com.kfi.jyi.vo.MySkinProfileVo" alias="myskinprofile"/>
		<typeAlias type="com.kfi.jyi.vo.MySkinViewVo" alias="myskinview"/>
		<typeAlias type="com.kfi.jyi.vo.CommBoardViewVo" alias="commboardview"/>
		<typeAlias type="com.kfi.jyi.vo.FriendsVo" alias="friends"/>
		<typeAlias type="com.kfi.jyi.vo.CommBoardVo" alias="commboard"/>
		<typeAlias type="com.kfi.jyi.vo.CommPhotoVo" alias="commphoto"/>
		<typeAlias type="com.kfi.jyi.vo.CommVideoVo" alias="commvideo"/>
		<typeAlias type="com.kfi.jyi.vo.CommBoardLikeVo" alias="commboardlike"/>
		<typeAlias type="com.kfi.jyi.vo.HotPhoto3Vo" alias="hotphoto3"/>
		<typeAlias type="com.kfi.jyi.vo.HotVideoVo" alias="hotvideo"/>
		
		<typeAlias type="com.kfi.dgl.vo.MembersVo" alias="logmembers"/>
		<typeAlias type="com.kfi.dgl.vo.CertiMembersVo" alias="certimembers"/>
		<typeAlias type="com.kfi.ysy.vo.AdminVo" alias="admin"/>
		<typeAlias type="com.kfi.ysy.vo.AccuseVo" alias="accuse"/>
		<typeAlias type="com.kfi.ysy.vo.AdminBoardVo" alias="adminboard"/>
		<typeAlias type="com.kfi.ysy.vo.FaqVo" alias="faq"/>
		<typeAlias type="com.kfi.ysy.vo.AdminBoardListViewVo" alias="adminboardlist"/>
		<typeAlias type="com.kfi.ysy.vo.AccuseListViewVo" alias="accuselist"/>
		<typeAlias type="com.kfi.ysy.vo.CommSkinCoverVo" alias="commskincover"/>
		<typeAlias type="com.kfi.ysy.vo.CommSkinProfileVo" alias="commskinprofile"/>
	</typeAliases>
	<mappers>	 
		<mapper resource="com/kfi/mybatis/ldk/MyBoardMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyBoardLikeMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyPhotoMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyVideoMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyCommentMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyCommentLikeMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyBoardListViewMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyBoardLikeListViewMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyCommentListViewMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/TagMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/MyTagMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/CommTagMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/CommVoteMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/VotingOptionMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/VotingUserListMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ldk/CommVoteListViewMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/MyCommCalendarMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/MySkinMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/MySkinCoverMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/MySkinProfileMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/MySkinViewMapper.xml"/>	
		<mapper resource="com/kfi/mybatis/jyi/CommBoardViewMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/CommunityMapper.xml"/>	
		<mapper resource="com/kfi/mybatis/jyi/CommUserListMapper.xml"/>	
		<mapper resource="com/kfi/mybatis/jyi/FriendsMapper.xml"/>	
		<mapper resource="com/kfi/mybatis/jyi/CommBoardMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/CommPhotoMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/CommVideoMapper.xml"/>
		<mapper resource="com/kfi/mybatis/jyi/CommBoardLikeMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/AdminMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/AccuseMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/AdminBoardMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/FaqMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/CommSkinCoverMapper.xml"/>
		<mapper resource="com/kfi/mybatis/ysy/CommSkinProfileMapper.xml"/>
		<mapper resource="com/kfi/mybatis/dgl/MembersMapper.xml"/>
		<mapper resource="com/kfi/mybatis/dgl/CertiMembersMapper.xml"/>
		<mapper resource="com/kfi/mybatis/dgl/CommCalendarMapper.xml"/>
	</mappers>
</configuration>